.mobile-header-drawer-background{
  width: 100%;
  height: 100%;
  background-color: rgba(29,29,29,50%);
  position: fixed;
  top: 0;
  right: 0;
  backdrop-filter: blur(5px);
}

.mobile-header-drawer{
  width: 0;
  height: 100%;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  visibility: hidden;
  background-color: white!important;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.show-drawer{
  width: 270px!important;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.drawer-items{
  text-decoration: unset;
  margin-top: 41px;
}

.drawer-items>span{
  font-family: "IRANYekan-Medium", serif;
  font-size: 14px;
  color: #1F1F1F;
  margin-right: 18px;
}

.drawer-items>img{
  margin-right: 18px;
  /*opacity: 0;*/
}

.drawer-items:hover{
  background-color: #E9FFD2;
}
