<div class="download-app d-flex flex-column position-relative">
  <div class="container d-flex flex-row flex-wrap col-12">
    <div class="download-links d-flex flex-column col-12 col-lg-6">
      <h3 class="fs-4 fw-bold text-white text-center text-md-end">دانلود اپلیکیشن میوه، سهولت در انجام خرید</h3>
      <p class="fs-5 text-white mt-5 text-center text-md-end">شما می‌توانید برای راحتی کار اپلیکیشن‌های ما را از کافه بازار و اناردونی دانلود کنید!</p>
      <div class="app-links d-md-flex flex-row justify-content-md-start justify-content-center d-none">
        <a href="https://cafebazaar.ir/app/ir.arkatech.felfeli">
          <img src="assets/images/bazar.png" alt="bazar">
        </a>
        <a href="https://anardoni.com/ios/app/bK_VZBjD8?lng=fas" class="me-3">
          <img src="assets/images/anardoni.png" alt="anardoni">
        </a>
      </div>
      <app-info-box></app-info-box>
    </div>
    <div class="phone d-flex col-12 col-lg-6">
      <img src="assets/images/phone.png" alt="phone">
    </div>
  </div>
</div>
