<nav class="container navbar d-none d-lg-flex position-relative">
  <div class="d-flex flex-row justify-content-between w-100 align-items-center">
    <div class="d-flex flex-row align-items-center">
      <a class="navbar-brand felfeli-logo" routerLink=""><img ngSrc="assets/images/logo.png" alt="felfeli logo" height="87" width="150"></a>
      <div class="header">
        <a class="nav-item header-item" style="cursor: pointer" routerLink=""><span>صفحه اصلی</span></a>
        <button class="nav-item header-item-btn mx-4" (click)="onShowProductDropdown()">
          <span class="ms-1">محصولات</span>
          <img src="assets/images/Path%2012.svg" alt="dropdown image" [ngClass]="(dropdownRotate ? 'dropdown-rotate':'dropdown')">
        </button>
        <a class="nav-item header-item" style="cursor: pointer"><span>وبلاگ</span></a>
      </div>
    </div>
    <div>
      <button class="header-search-icon">
        <img ngSrc="assets/images/search.png" alt="search icon" height="26" width="26">
      </button>
        <button class="header-profile-icon"
        (click)="onClickProfile()"
        (mouseenter)="onMouseEnter()">
          <img ngSrc="assets/images/user.png" alt="user icon" height="25" width="24">
          <img src="assets/images/Path%2012.svg" alt="dropdown" *ngIf="isAuthenticated">
        </button>
      <button class="header-bascket-icon">
        <img ngSrc="assets/images/bascket.png" alt="bascket icon" height="25" width="29">
      </button>
    </div>
  </div>
  <app-header-product-dropdown *ngIf="showProductDropdown"></app-header-product-dropdown>
</nav>

<app-mobile-header class="d-flex d-lg-none"></app-mobile-header>
<app-modal-profile *ngIf="showProfileModal"
class="modal-profile"></app-modal-profile>
