.banner-lists{
  margin-top: 60px;
  height: 307px;
  margin-bottom: 48px;
}

.banner{
  height: 100%;
  border-radius: 15px;
  background: rgba(29, 29, 29, 60%);

}

.banner>img{
  height: 100%;
  width: 100%;
  z-index: -1;
}
