.info-outer-box{
  width: 134px;
  height: 134px;
  background-color: #fff3;
  border-radius: 15px;
  position: relative;
}

.info-inner-box{
  width: 116px;
  height: 116px;
  background-color: white;
  border-radius: 15px;
  position: absolute;
  top: 9px;
  left: 9px;
}

.info{
  color: #7CB342;
  font-weight: bolder;
  font-size: 24px;
  margin-bottom: 10px;
}
