<div class="d-flex flex-row justify-content-md-start justify-content-center">
  <div class="info-outer-box">
    <div class="info-inner-box d-flex flex-column justify-content-center align-items-center">
      <span class="info">{{userCount}}</span>
      <span class="title">کاربر</span>
    </div>
  </div>

  <div class="info-outer-box mx-4">
    <div class="info-inner-box d-flex flex-column justify-content-center align-items-center">
      <span class="info">{{productCount}}</span>
      <span class="title">قلم کالا</span>
    </div>
  </div>

  <div class="info-outer-box">
    <div class="info-inner-box d-flex flex-column justify-content-center align-items-center">
      <span class="info">{{organic}}</span>
      <span class="title">ارگانیک</span>
    </div>
  </div>
</div>
