<div class="footer">
  <div class="container d-flex flex-wrap justify-content-around benefits">
    <div class="d-flex flex-column align-items-center">
      <img ngSrc="assets/images/truck%20(1).png" alt="تحویل سریع و فوری" height="57" width="89">
      <span class="text">تحویل سریع و رایگان</span>
    </div>
    <div class="d-flex flex-column align-items-center">
      <img ngSrc="assets/images/food%20(1).png" alt="محصولات کاملا ارگانیک" height="57" width="63">
      <span class="text">محصولات کاملا ارگانیک</span>
    </div>
    <div class="d-flex flex-column align-items-center">
      <img ngSrc="assets/images/clock.png" alt="پشتیبانی 24 ساعته" height="57" width="57">
      <span class="text">پشتیبانی 24 ساعته</span>
    </div>
  </div>
  <div class="footer-info d-flex flex-row">
    <div class="container-lg footer-body d-flex flex-md-row flex-column justify-content-between">
      <div class="card card-footer col-4">
        <img src="assets/images/logo.png" class="card-img-top w-50 mt-4" alt="felfeli logo">
        <div class="card-body">
          <h5 class="card-title text-white fs-6">فروشگاه فلفلی</h5>
          <p class="card-text text-white">امروزه توسعه اینترنت روش های خرید مارا به کلی دگرگون کرده است. منافع موجود در
            خرید اینترنتی هرروز تعداد بیشتری از مردم را به تجربه آن و ایجاد تغییر در الگو های متداول خرید ترغیب می کند.
            هدف ما در فلفلی ایجاد بازار آنلاین سبزیجات برای دسترسی آسان و با کیفیت و هوشمندانه تر به محصولات غذایی و
            ترویج روش خرید آنلاین در جامعه امروزی است. و برای پیشبرد این هدف با حذف حداکثری واسطه ها و عرضه مستقیم
            محصولات و همچنین اعمال دقیق استاندارد های بهداشتی و کیفی تلاش خواهیم کرد</p>
          <div class="d-flex flex-row justify-content-around mt-2">
            <a href="https://www.instagram.com/felfeli.sabzi/">
              <img src="assets/images/Subtraction%203.png" alt="instagram">
            </a>
            <a href="https://telegram.me/felfeli1">
              <img src="assets/images/telegram%20(2).png" alt="telegram">
            </a>
            <a href="https://linkedin.com">
              <img src="assets/images/linkedin%20(1).png" alt="linkedin">
            </a>
          </div>
        </div>
      </div>
      <div class="related-links-body d-flex flex-column col-md-8 col-12 justify-content-around">
        <div class="d-flex flex-column flex-lg-row justify-content-around">
          <div class="related-links d-flex flex-row">
            <div class="d-flex flex-column customer ms-5">
              <h3 class="text-white fs-6 fw-bold">خدمات مشتریان</h3>
              <span class="text-white">سوالات متداول</span>
              <span class="text-white">قوانین و مقررات</span>
            </div>
            <div class="d-flex flex-column info">
              <h3 class="text-white fs-6 fw-bold">اطلاعات</h3>
              <span class="text-white">درباره ما</span>
              <span class="text-white">تما با ما</span>
              <span class="text-white">وبلاگ</span>
            </div>
          </div>
          <div class="d-flex flex-row namads">
            <div class="samandehi d-flex justify-content-center align-items-center ms-4">
              <img src="assets/images/14443117503540.png" alt="">
            </div>
            <div class="enamad d-flex justify-content-center align-items-center">
              <img src="assets/images/Image%201.png" alt="">
            </div>
          </div>
        </div>
        <span class="text-white me-4"> هفت روز هفته 24 ساعته پاسخگوی شما هستیم. پشتیبانی: 02532705030 </span>
      </div>
    </div>
  </div>
  <div class="container d-flex flex-wrap justify-content-between py-3">
    <span>تمامی حقوق کپی رایت وب سایت فلفلی محفوظ است</span>
    <div>
      <span>قدرت گرفته با</span>
      <img src="assets/images/heart.png" alt="heart" class="mx-1">
      <span>توسط</span>
      <a class="arka-link me-1" href="/">آرکا</a>
    </div>
  </div>
</div>
